/* Variables */
:root,
*,
*::before,
*::after {
  --clr-amber-lighter: #efa53e;
  --clr-amber: #8f580b;
  --clr-amber-darker: #1e1202;
  --clr-blanc: #FFF;
  --clr-noir: #000;
  --clr-gris: #D8D8D8;
  --gutter: 20px;
  --spacer: 8px;
  --x: 0;
  --y: 0;
  --s: 1;
  --animDurationOpacity: 1.25s;
  --animTimingOpacity: cubic-bezier(0.11, 0, 0.5, 0);
}

html {
  font-size: 62.5%;
}

body {
  background:
    radial-gradient(rgb(143 88 11 / 10%) 3px, transparent 4px),
    radial-gradient(rgb(143 88 11 / 10%) 3px, transparent 4px),
    linear-gradient(#1e1202 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, rgb(143 88 11 / 10%) 75px, rgb(143 88 11 / 10%) 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, rgb(143 88 11 / 10%) 76px, rgb(143 88 11 / 10%) 77px, transparent 78px, transparent 109px),
    #1e1202;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  font-size: 10px;
  line-height: 1.5em;
  color: var(--clr-blanc);
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container {
  position: relative;
}

/* Fonts */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.open-sans-400 {
  font-weight: 400;
  font-variation-settings:
    "wdth" 400;
}

.open-sans-600 {
  font-weight: 600;
  font-variation-settings:
    "wdth" 600;
}

.open-sans-800 {
  font-weight: 800;
  font-variation-settings:
    "wdth" 800;
}

.domine {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.domine-400 {
  font-weight: 400;
  font-variation-settings:
    "wdth" 400;
}

.domine-500 {
  font-weight: 500;
  font-variation-settings:
    "wdth" 500;
}

.domine-600 {
  font-weight: 600;
  font-variation-settings:
    "wdth" 600;
}

.domine-700 {
  font-weight: 700;
  font-variation-settings:
    "wdth" 700;
}

/* HELPER */
.is-highlighted {
  color: var(--clr-amber-lighter);
}

.is-highlighted--darker {
  color: var(--clr-amber);
}

/* SVG HELPER */
.svg--white {
  fill: var(--clr-blanc);
}

.svg-stroke--white {
  stroke: var(--clr-blanc);
}

.svg--amber {
  fill: var(--clr-amber);
}

.svg-stroke--amber {
  stroke: var(--clr-amber);
}

/* Candle border */
#candle-border__container {
  position: absolute;
  inset: 0;
  z-index: 20;
}

#candle-border__container svg {
  --pathLength: 2723.5;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  transform: translate(-30px, -30px);
}

#candle-border__container path {
  stroke-dasharray: var(--pathLength);
  stroke-dashoffset: 0;
}

#candle-border__container svg.is-animated path {
  animation: 7s linear 1s forwards candleWickApperance;
}

@keyframes candleWickApperance {
  0% {
    stroke-dashoffset: 0;
  }

  65%  {
    stroke-dashoffset: var(--pathLength);
  }

  100% {
    stroke-dashoffset: var(--pathLength);
  }
}

/* Bon */
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#bon__container {
  text-align: center;
}

#bon__container button.word {
  all: unset;
}

#bon__container .word,
#bon__container button.word {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

#bon__container.is-visible .word:nth-child(1) {
  animation: var(--animDurationOpacity) .1s var(--animTimingOpacity) forwards bonTxtOpacity;
}

#bon__container.is-visible .word:nth-child(2) {
  animation: var(--animDurationOpacity) .2s var(--animTimingOpacity) forwards bonTxtOpacity;
}

#bon__container.is-visible .word:nth-child(3) {
  animation: var(--animDurationOpacity) .3s var(--animTimingOpacity) forwards bonTxtOpacity;
}

#bon__container.is-visible .word:nth-child(4) {
  animation: var(--animDurationOpacity) .4s var(--animTimingOpacity) forwards bonTxtOpacity;
}

#bon__container.is-visible .word:nth-child(6) {
  animation: var(--animDurationOpacity) .5s var(--animTimingOpacity) forwards bonTxtOpacity;
}

#bon__container.is-visible .word:nth-child(7) {
  animation: var(--animDurationOpacity) .6s var(--animTimingOpacity) forwards bonTxtOpacity;
}

#bon__container.is-visible .word:nth-child(9) {
  animation: var(--animDurationOpacity) .7s var(--animTimingOpacity) forwards bonTxtOpacity;
}

#bon__container.is-visible .word:nth-child(10) {
  animation: var(--animDurationOpacity) .8s var(--animTimingOpacity) forwards bonTxtOpacity;
}

@keyframes bonTxtOpacity {
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

#bon__container.is-hidding .word {
  animation: var(--animDurationOpacity) var(--animTimingOpacity) forwards bonTxtHidding;
}

#bon__container.is-hidding .word:nth-child(1) {
  --x: -40;
  --y: -20;
  --s: 3;
  --r: -25;
}

#bon__container.is-hidding .word:nth-child(2) {
  --x: -15;
  --y: -65;
  --s: 1.2;
  --r: 15;
}

#bon__container.is-hidding .word:nth-child(3) {
  --x: 0;
  --y: -15;
  --s: 2;
  --r: 55;
}

#bon__container.is-hidding .word:nth-child(4) {
  --x: 20;
  --y: -30;
  --s: 4;
  --r: -40;
}

#bon__container.is-hidding .word:nth-child(6) {
  --x: -30;
  --y: 0;
  --s: 1.4;
  --r: -15;
}

#bon__container.is-hidding .word:nth-child(7) {
  --x: 25;
  --y: 15;
  --s: 2;
  --r: 30;
}

#bon__container.is-hidding .word:nth-child(9) {
  --x: -25;
  --y: 40;
  --s: 3;
  --r: 15;
}

#bon__container.is-hidding .word:nth-child(10) {
  --x: 35;
  --y: 40;
  --s: 3;
  --r: 65;
}

@keyframes bonTxtHidding {
  from {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0, 0) scale(1) rotate(0deg);
  }

  to {
    opacity: 0;
    filter: blur(30px);
    transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px)) scale(var(--s)) rotate(calc(1deg * var(--r)));
  }
}

#bon__container h1 {
  font-size: 4rem;
  line-height: 1.25em;
}

#bon__container h1 #bon__txt {
  position: relative;
}

#bon__container h1 #bon__txt::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 4px;
  background-color: var(--clr-blanc);
  text-decoration: underline;
}

#bon__container h1 #bon__txt.is-animated::after {
  animation:
    .5s linear forwards bonTxtUnderline,
    3s 1s ease-in-out infinite bonTxtUnderlineBlink;
}

@keyframes bonTxtUnderline {
  100% {
    width: 100%
  }
}

@keyframes bonTxtUnderlineBlink {
  0%, 100% {
    opacity: 100%
  }

  50% {
    opacity: 0%
  }
}


#bon__container h1 #bon__name {
  font-size: 7rem;
  color: var(--clr-amber-lighter);
  line-height: 1.5em;
}

/* Smoke */
#bon__container h1 #bon__point {
  margin-left: 10px;
  color: var(--clr-amber-lighter);
}

.smoke.is-visible {
  opacity: 1;
  transition-delay: 0.8s;
}

.smoke {
	position: absolute;
	z-index: 40;
	width: 2px;
	margin-left: -1px;
	left: 50%;
	bottom: 40px;
	opacity: 0;
	-webkit-transition: all 800ms linear;
	transition: all 800ms linear;
}

.smoke span {
	display: block;
	position: absolute;
	bottom: -35px;
	left: 50%;
	margin-left:-20px;
	height: 0px; width: 0px;
	border: 30px solid rgba(255, 255, 255, .35);
	border-radius: 22px;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	left: -9px;
	opacity: 0;
	transform: scale(0.2, 0.2) rotate(-45deg);
}

@keyframes smokeLeft {
	0%   { transform: scale(0.2, 0.2) translate(0, 0) rotate(-45deg) }
	10%  { opacity: 1; transform: scale(0.2, 0.3) translate(0, -5px) rotate(-45deg) }
	60%  { opacity: 0.6; transform: scale(0.3, 0.5) translate(-10px, -80px) rotate(-45deg) }
	100% { opacity: 0; transform: scale(0.4, 0.8) translate(-20px, -120px) rotate(-45deg) }
}

@keyframes smokeRight {
	0%   { transform: scale(0.2, 0.2) translate(0, 0) rotate(-45deg) }
	10%  { opacity: 1; transform: scale(0.2, 0.3) translate(0, -5px) rotate(-45deg) }
	60%  { opacity: 0.6; transform: scale(0.3, 0.5) translate(10px, -80px) rotate(-45deg) }
	100% { opacity: 0; transform: scale(0.4, 0.8) translate(20px, -120px) rotate(-45deg) }
}

.smoke .s-0 {
	animation: smokeLeft 7s 0s infinite
}

.smoke .s-1 {
	animation: smokeRight 7s 0.7s infinite
}

.smoke .s-2 {
	animation: smokeLeft 7s 1.4s infinite
}

.smoke .s-3 {
	animation: smokeRight 7s 2.1s infinite
}

.smoke .s-4 {
	animation: smokeLeft 7s 2.8s infinite
}

.smoke .s-5 {
	animation: smokeRight 7s 3.5s infinite
}

.smoke .s-6 {
	animation: smokeLeft 7s 4.2s infinite
}

.smoke .s-7 {
	animation: smokeRight 7s 4.9s infinite
}

.smoke .s-8 {
	animation: smokeLeft 7s 5.6s infinite
}

.smoke .s-9 {
	animation: smokeRight 7s 6.3s infinite
}

/* Details */
#details__container {
  display: block;
  padding: 3rem;
}

#details__container.is-hidden {
  display: none;
}

#details__container > * {
  opacity: 0;
  /* transform: translateY(-20px); */
  /* filter: blur(10px); */
}

#details__container.is-visible > * {
  --delay: 0;
  opacity: 1;
  /* transform: translateY(0); */
  /* filter: blur(0); */
  transition-property: opacity;
  transition-delay: calc(var(--delay) * 1s);
  transition-duration: var(--animDurationOpacity);
  transition-timing-function: var(--animTimingOpacity);
}

h2 {
  margin-bottom: 4rem;
  font-size: 3.5rem;
  line-height: 1.25em;
  text-align: center;
}

#details__container p {
  font-size: 2rem;
  line-height: 1.5em;
  margin-bottom: 2rem;
}
